.main-connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border: 1px solid var(--color-highlight);
  border-radius: 10px;
}

.formulaire input {
  border-radius: 5px;
  border: 0px;
  padding: 0.2rem;
}

.user-creation-form {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin: 0.5rem;
}

.button-submit {
  margin: 1rem;
}
