.main-dashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.add-favorite {
  margin: 0;
  text-align: left;
}

span {
  margin: 1rem;
}

.delete-favorite {
  width: 10px;
}
